*{
    margin: 0;padding: 0;
}
body{ 
    background-color: #FBFBFB;
    font-family: "宋体";
    font-size: 24px;
    color: #222;
}
p{
    text-align: center;
}
.one{
    display: flex;
    justify-content: left;
}
.one hr{
    height: 10px;
    width: 300px;
}
.two{
    display: flex;
    justify-content: center;
}
.two hr{
    height: 2px;
    width: 300px;
}
.three{
    display: flex;
    justify-content: right;
}
.three hr{
    height: 20px;
    width: 300px;
}