*{
    margin: 0;
    padding: 0;
}
body{ 
    background-color: #FBFBFB;
    font-family: "宋体";
    font-size: 24px;
    color: #222;
}
.header{
    text-align:center;
	width: 400px;
	margin:0 auto 1px;
	height:86px;
	line-height:86px;
	color:#fff;
    background-color: #9B66FF;
}
.header h1{
    font-weight: bold;
}
.author{
    text-align:center;
	width: 400px;
	margin:0 auto 1px;
	height:86px;
	line-height:86px;
    font-size: 24px;
	color:#fff;
    background-color: #9B66FF;
}
.poem{
    height:200px;
	line-height:50px;
    margin:0 auto 1px;
    width: 400px;
    text-align: center;
    color: #fff;
    background-color: #9B66FF;
}

